<div class="p-20">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center center">
      <span>{{ inTitulo }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card>
    <ng-content></ng-content>
  </mat-card>
</div>
